.taskListContainer{
  padding:10px 15px;
}
.task {
  border:thin solid #ccc;
  border-radius:5px;
  padding:10px;
  margin-bottom:5px;
  font-size:12px;
  .task-codename{
  	margin-right:5px;
  }
  .task-title-container{
  	overflow:hidden;
  	max-height:20px;
    .git-pr-link{
      font-size:16px;
      &:hover{
        cursor:pointer;
      }
    }
  }
  .input-item-weight{
      &.in-task{
      width:40px;
      height:20px;
      font-size:10px;
      padding:0;
      padding-left:5px;
      margin-left:25px;
    }
  }
  .task-details{
    transition:height 0.4s;
  	padding-top:10px;
    overflow:hidden;
    height:0px;
    &.open{
      height:140px;
    }
  }
  &.pending{
  	background-color:#ffe9ad;
  }
  &.need-info{
  	background-color:#d6d28d;
  }
  &.approval{
  	background-color:#94b7b2;
  }
  &.teammate{
  	background-color:#94baf7;
  }
  &.review-dev{
  	background-color:#efefef;
  }
  &.review-prod{
    background-color:#ddd;
  }
  &.deploy-dev{
  	background-color:#9be592;
  }
  &.deploy-prod{
    background-color:#87c67f;
  }
  &.completed{
  	background-color:#111111;
  }
  &.ongoing{
  	background-color:#faffbc;
  }

  .teammate-container{
    float:left;
    width:60px;
    height:50px;
    margin-right:15px;
    .teammate-image{
      border-radius:50%;
      &.in-task{
        float:left;
        width:30px;
        height:30px;
        margin-left:15px;
        margin-right:35px;
        &:hover{
          cursor:pointer;
        }
      }
    }
    .assigned-label{
      float:left;
      width:60px;
      margin-top:0px;
      border-radius:4px;
      text-align:center;
      color:#333;
    }

  }

  .status-icon-container{
    float:left;
    width:90px;
    height:50px;
    text-align:center;
    margin-right:10px;
    .status-icon{
      font-size:25px;
      margin-top:2px;
      &:hover{
        cursor:pointer;
      }
    }
    .status-label{
      margin-top:1px;
    }
  }

  .priority-icon-container{
    float:left;
    width:60px;
    height:50px;
    text-align:center;
    .priority-icon{
      font-size:25px;
      margin-top:2px;
      &:hover{
        cursor:pointer;
      }
    }
    .priority-label{
      margin-top:1px;
    }
  }
}