<div class="row col-md-12 text-center">
	Powered By: 
	<img class="powrd-by-logo" src="assets/images/nodejs.png">
	<img class="powrd-by-logo" src="assets/images/angular.png">
	<img class="powrd-by-logo github" src="assets/images/github.png">
	<img class="powrd-by-logo" src="assets/images/beanstalk-logo-trans.png">
	<img class="powrd-by-logo" src="assets/images/ui-bootstrap.png">
	<img class="powrd-by-logo" src="assets/images/node-sass.png">
	<img class="powrd-by-logo" src="assets/images/yeoman.png">
	<img class="powrd-by-logo" src="assets/images/gulp.png">
</div>
<div class="copyright row col-md-12 text-center">&copy; 2015 Miguel Angel Bonachea Soto</div>