<div class="container">
  <nav class="navbar navbar-static-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" ng-href="#/">
          <img  class="logo" src="assets/images/angular.png"> TASKR
        </a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
        <ul class="nav navbar-nav navbar-right">
          <li class="main-menu"><a ui-sref-active="active" ui-sref="home">Tasks</a></li>
          <li class="main-menu"><a ui-sref-active="active" ui-sref="projects">Projects</a></li>
          <li class="main-menu"><a ui-sref-active="active" ui-sref="teammates">Teammates</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>