<div class="container">
  <div class="row actions-menu">
  	<div class="col-sm-8">
      <div class="action-btn-container">
        <a ng-click="proj.displayProjList()" ng-class="{'active' : proj.activeAct === 'projlist'}">Project List</a> 
  		  <a ng-click="proj.openNewProjModal()" ng-class="{'active' : proj.activeAct === 'projform'}">New Project</a>
      </div>
		</div>
		<div class="col-sm-4 text-right">
		  <ul>
		    <li>Search: <input type="text" ng-model="search"></li>
		  </ul>
		</div>
  </div>

  <div class="projListContainer row">
    <div class="container">
      <div class="project item-list-header">
        <div class="row">
          <div class="col-sm-1">  
            <strong>Codename</strong>
          </div>
          <div class="col-sm-2">
            <strong>Name</strong>
          </div>
          <div class="col-sm-4">
            <strong>Site URLs</strong>
          </div>
          <div class="col-sm-3">
            <strong>Git Repository URL</strong>
          </div>
          <div class="col-sm-2 text-right">
            <strong>Actions</strong>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12" ng-repeat="project in proj.projects | filter:search | orderBy:'name'" ng-if="project.name != 'All'">
      <div class="project" id="project_{{project.id}}">
        <div class="row">
          <div class="col-sm-1">  
                <strong>[{{ project.codename }}]</strong>
          </div>
          <div class="col-sm-1">
                <strong>{{ project.name }}</strong>
          </div>
          <div class="col-sm-4">
            Dev: <a href="{{ project.dev_url }}" target="_blank"> {{ project.dev_url }}</a><br>
            Prod: <a href="{{ project.prod_url }}" target="_blank"> {{ project.prod_url }}</a>
          </div>
          <div class="col-sm-4">
            <a href="{{ project.repository }}" ng-if="project.repository !== ''" target="_blank"><i class="fa fa-github-alt"></i> {{ project.repository }}</a>
          </div>
          <div class="col-sm-2">
            <div class="action-button delete-item" ng-click="proj.deleteProject(project.id)">
              <span class="glyphicon glyphicon-remove"></span>
            </div>
            <div class="action-button edit-item" ng-click="proj.openEditProjModal(project.id)">
              <span class="glyphicon glyphicon-pencil"></span>
            </div>
            <div class="action-button show-item-details" ng-click="proj.showProjDesc(project.id)">
              <span class="glyphicon glyphicon-info-sign"></span>
            </div>
          </div>
        </div>
        <div id="details_{{project.id}}" class="row project-details hide">
          <div class="col-sm-8">
            <strong>Description:</strong><br>
            <p>{{ project.description }}</p>
          </div>
          <div class="col-sm-4">
            <strong>Created</strong>: {{ project.created }}<br>
            <strong>Project ID</strong>: {{ project.id }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
