<div class="task item-list-header">
  <div class="row">
    <div class="col-sm-7">  
      <strong>Project &nbsp; &nbsp; ID &nbsp; &nbsp; &nbsp; &nbsp; Title</strong>
      <span class="pull-right">Git</span>
    </div>
    <div class="col-sm-5">
      <div class="header-label assigned">Assigned</div>
      <div class="header-label status">Status</div>
      <div class="header-label priority">Priority</div>
      <div class="header-label weight">Weight</div>
      <div class="header-label actions">Actions</div>
    </div>
  </div>
</div>