<div class="container">
  <div class="row actions-menu">
  	<div class="col-sm-8">
      <div class="action-btn-container">
        <a ng-click="team.displayTeamList()" ng-class="{'active' : team.activeAct === 'teamlist'}">Teammates List</a>
  		  <a ng-click="team.openNewTeamModal()" ng-class="{'active' : team.activeAct === 'teamform'}">New Teammate</a>
      </div>
		</div>
		<div class="col-sm-4 text-right">
		  <ul>
		    <li>Search: <input type="text" ng-model="search"></li>
		  </ul>
		</div>
  </div>

  <div class="teamListContainer row">
    <div class="container">
      <div class="teammate item-list-header">
        <div class="row">
          <div class="col-sm-1">
            <strong>Gravatar</strong>
          </div>
          <div class="col-sm-1">  
            <strong>ID</strong>
          </div>
          <div class="col-sm-2">
            <strong>Name</strong>
          </div>
          <div class="col-sm-2">
            <strong>Company</strong>
          </div>
          <div class="col-sm-2">
            <strong>Email</strong>
          </div>
          <div class="col-sm-2">
            <strong>Phone</strong>
          </div>
          <div class="col-sm-2 text-right">
            <strong>Actions</strong>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12" ng-repeat="teammate in team.teammates | filter:search | orderBy:'first_name'">
      <div class="teammate" id="teammate_{{teammate.id}}">
        <div class="row">
          <div class="col-sm-1">
           <img class="img-responsive teammate-image" src="http://www.gravatar.com/avatar/{{ teammate.email_hash }}?d=retro">
          </div>
          <div class="col-sm-1">  
                <strong>[{{ teammate.id }}]</strong>
          </div>
          <div class="col-sm-2">
                <strong>{{ teammate.first_name }} {{ teammate.last_name }}</strong>
          </div>
          <div class="col-sm-2">
            <strong>{{ teammate.company }}</strong>
          </div>
          <div class="col-sm-2">
                <strong><a href="mailto:{{ teammate.email }}">{{ teammate.email }}</a></strong>
                <!-- <p>{{ teammate.email_hash }}</p> -->
          </div>
          <div class="col-sm-2">
                <strong>{{ teammate.phone }}</strong>
          </div>
          <div class="col-sm-2">
            <div class="action-button delete-item" ng-click="team.deleteTeammate(teammate.id)">
              <span class="glyphicon glyphicon-remove"></span>
            </div>
            <div class="action-button edit-item" ng-click="team.editTeam(teammate.id)">
              <span class="glyphicon glyphicon-pencil"></span>
            </div>
            <div class="action-button show-item-details" ng-click="team.showTeamDesc(teammate.id)">
              <span class="glyphicon glyphicon-info-sign"></span>
            </div>
          </div>
        </div>
        <div id="details_{{teammate.id}}" class="row teammate-details hide">
          <div class="col-sm-8">
            <strong>Description:</strong><br>
            <p>{{ teammate.description }}</p>
          </div>
          <div class="col-sm-4">
            <strong>Created</strong>: {{ teammate.created }}<br>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
